nav {
    background-color: black;
    text-align: center;
}

nav h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
       
}

nav a {
    color: aquamarine;
    font-size: 16px;
}